<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investigación</title>
  </head>
  <body>
    <h4>INTEGRANTES:</h4>
    <ul>
      <li>Alquinga Wilmer</li>
      <li>Montalvo Silvio</li>
      <li>Pumisacho Lizbeth</li>
    </ul>
    <br />
    <div class="row">
      <h2 class="text-center" style="text-align: center;">{{result}}</h2>
      <div class="col-12">
        <div class="card">
          <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
              <button
                pButton
                pRipple
                label="Nuevo"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="new()"
              ></button>
            </ng-template>
          </p-toolbar>

          <p-table
            #dt
            [value]="muebles"
            [rows]="10"
            [paginator]="true"
            responsiveLayout="scroll"
            [rowHover]="true"
            dataKey="code"
            [showCurrentPageReport]="true"
            class="table-sm"
          >
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">CRUD Muebles</h5>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>
                  Código
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  Color
                </th>
                <th>
                  Precio
                </th>
                <th>
                  Opciones
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mueble>
              <tr>
                <td>{{mueble.codigo}}</td>
                <td>{{mueble.nombre}}</td>
                <td>{{mueble.color}}</td>
                <td>{{mueble.precio | currency:'USD'}}</td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editMueble(mueble)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteMueble(mueble)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </body>
</html>
<p-dialog [(visible)]="muebleDialog" [style]="{width: '450px'}" header="Mueble" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
        <label for="code">Código</label>
        <input type="text" pInputText id="code" [(ngModel)]="mueble.codigo" required autofocus />
        <small class="p-error" *ngIf="submitted && !mueble.codigo">El código es requerido.</small>
    </div>
    <div class="field">
      <label for="name">Nombre</label>
      <input type="text" pInputText id="name" [(ngModel)]="mueble.nombre" required />
      <small class="p-error" *ngIf="submitted && !mueble.codigo">El nombre es requerido.</small>
    </div>
    <div class="field">
      <label for="color">Color</label>
      <input type="text" pInputText id="color" [(ngModel)]="mueble.color" />
    </div>
    <div class="field">
      <label for="precio">Precio</label>
      <p-inputNumber [(ngModel)]="mueble.precio" inputId="precio" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5">
      </p-inputNumber>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
  </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
